---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';



const explainer = `
## 研究方向
  * \`人工智能\`
  * \`自动驾驶\`
  * \`物联网技术\`
  * \`嵌入式系统\`
  * \`机械创新设计\`

## 部分获奖情况

~~~text
 第十届全国大学生物联网设计竞赛（华为杯）全国一等奖
 第八届全国大学生工程实践与创新能力大赛全国银奖
 第六届全国大学生嵌入式芯片与系统设计大赛全国三等奖两项
 第七届全国大学生嵌入式芯片与系统设计大赛中部赛区二等奖、三等奖两项
 第七届湖南省大学生工程实践与创新能力大赛省一等奖、三等奖各一项
 全国大学生机械创新设计大赛湖南省二等奖
   
 “基于决策系统的多功能物流无人车”国家级创业计划项目
 “面向车位共享的可预约式智能车位锁设计”国家级创新计划项目
 “六足智能野外机器人”省级创新计划项目
 “穿戴式膀胱容量智能监测设备”省级创新训练项目
~~~

## 团队简介

~~~text
  “智感未来”学生竞赛实验室，是托机电工程学院各系部、科研机构的专业特色和教师科研特点组建的一个重点学生竞赛实验室。
  本实验室依托测控技术与仪器和机械电子工程两个专业，以“科技创新引领未来”为宗旨，注重学生的实践能力和创新能力培养，
  鼓励学生积极参加各种科技竞赛，达到“以赛促学”的目的，为国家培养未来科技创新的领军人才。
~~~

## 指导老师
 * 王宪
 * 凌启辉
 * 唐浩
 * 欧文初

## 团队主要成员
 * 刘永康、刘时轩、周杰、王文杰、柳文辉、方烨东、刘卓杰、曾宏玉、彭泽丰、李涛、潘泊名、宋元昊、胡钰濠、段雨昕
`;
---

<Layout title="Welcome to IntelligenceFuture.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">智感未来实验室</h1>

    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://github.com/orgs/HNUST-Dynamic/repositories" class="btn btn-lg btn-primary sm:btn-wide">Jump to github organization</a>
    </p>
</Layout>
